<div class="row">
    <!-- main col left -->
    <div class="col-lg-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading"><a class="pull-right">{{ message.date | timeAgo }}</a><h4><a ng-href="#/user/{{message.author.name}}">{{ message.author.name }}</a></h4></div>
            <div class="panel-body">
                <p>{{message.message}}</p>
                <div ng-if="!isComment">
                    <hr>
                    <form>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-click="like()"><i class="fa" ng-class="{'fa-thumbs-up':alreadyLikes, 'fa-thumbs-o-up':!alreadyLikes}"></i> like
                                    ({{message.counters.likesCount || 0 }})
                                </button>
                                <button class="btn btn-default" ng-click="comment()"><i class="fa fa-comment-o"> comment
                                    ({{message.counters.commentsCount || 0 }})</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>